---
export interface ContactCardProps {
  href: string;
}

const { href } = Astro.props as ContactCardProps;

---


<a class="h-full relative overflow-hidden bg-gray-900/85 z-10 p-10 flex flex-col items-center justify-center gap-3 hover:scale-110 transition-transform cursor-pointer" href={href} target="_blank" rel="noopener noreferrer">
  <slot />
</a>