---
import '@/styles/global.css';
import Card from './Card.astro';
import ProfileCard from './cards/ProfileCard.astro';
import GithubCard from './cards/GithubCard.astro';
import GmailCard from './cards/GmailCard.astro';
import LinkedInCard from './cards/LinkedInCard.astro';
import CurriculumCard from './cards/CurriculumCard.astro';
---

<main class="grid grid-cols-5 grid-rows-4 gap-3 p-5 w-[1000px] h-[800px]">
  <Card class="col-start-1 col-end-4 row-start-1 row-end-4">
    <ProfileCard />
  </Card>
  <Card class="col-start-4 col-end-7 row-start-1 row-end-2"/>

  <Card class="col-start-4 col-end-5 row-start-2 row-end-3">
    <GithubCard />
  </Card>
  <Card class="col-start-5 col-end-6 row-start-2 row-end-3">
    <GmailCard />
  </Card>
  <Card class="col-start-4 col-end-5 row-start-3 row-end-4">
    <LinkedInCard />
  </Card>
  <Card class="col-start-5 col-end-6 row-start-3 row-end-4">
    <CurriculumCard />
  </Card>
  <Card class="col-start-4 col-end-7 row-start-4 row-end-5"/>
  <Card class="col-start-3 col-end-4 row-start-4 row-end-5"/>
  <Card class="col-start-1 col-end-3 row-start-4 row-end-5"/>


</main>