---
import '@/styles/starBackground.css';
import BlackHole from './BlackHole.astro';
---
<div aria-hidden="true">
  <BlackHole />
  <figure class="stars-background" role="img" aria-label="Estrellas en el fondo">
    <div class="stars" data-size="tiny"></div>
    <div class="stars" data-size="small"></div>
    <div class="stars" data-size="medium"></div>
    <div class="stars" data-size="large"></div>
    <div class="stars" data-size="bright"></div>
  </figure>
</div>